[gcode_macro _PURGE_WIPE_VARS]
gcode:
variable_purge_x: -20       # X wiaderka/purgebucket (lub punkt tuż nad nim)
variable_purge_y: 190       # Y wiaderka
variable_wipe_x_min: -11    # prostokąt szczotki: X min
variable_wipe_x_max: -4     # X max
variable_wipe_y_min: 139    # Y min
variable_wipe_y_max: 167    # Y max
variable_travel_z: 31       # bezpieczne Z do dojazdu (masz ~31 w logach)
variable_purge_mm: 18       # ile mm wytłoczyć do wiaderka po zmianie (dostrój)
variable_purge_feed: 10     # prędkość purgu (mm/min)
variable_wipe_passes: 3     # ile przejazdów po szczotce
variable_wipe_feed: 450    # prędkość przecierania (mm/min)
variable_travel_feed: 450  # prędkość przejazdów (mm/min)

# --- MAKRO: PURGE + WIPE ---
[gcode_macro PURGE_AND_WIPE]
description: Purge do wiaderka i wytarcie o szczotkę po zmianie filamentu
gcode:
  {% set px = printer["gcode_macro _PURGE_WIPE_VARS"].variable_purge_x|float %}
  {% set py = printer["gcode_macro _PURGE_WIPE_VARS"].variable_purge_y|float %}
  {% set wx0 = printer["gcode_macro _PURGE_WIPE_VARS"].variable_wipe_x_min|float %}
  {% set wx1 = printer["gcode_macro _PURGE_WIPE_VARS"].variable_wipe_x_max|float %}
  {% set wy0 = printer["gcode_macro _PURGE_WIPE_VARS"].variable_wipe_y_min|float %}
  {% set wy1 = printer["gcode_macro _PURGE_WIPE_VARS"].variable_wipe_y_max|float %}
  {% set z  = printer["gcode_macro _PURGE_WIPE_VARS"].variable_travel_z|float %}
  {% set pmm = printer["gcode_macro _PURGE_WIPE_VARS"].variable_purge_mm|float %}
  {% set pfeed = printer["gcode_macro _PURGE_WIPE_VARS"].variable_purge_feed|float %}
  {% set wpass = printer["gcode_macro _PURGE_WIPE_VARS"].variable_wipe_passes|int %}
  {% set wfeed = printer["gcode_macro _PURGE_WIPE_VARS"].variable_wipe_feed|float %}
  {% set tfeed = printer["gcode_macro _PURGE_WIPE_VARS"].variable_travel_feed|float %}

  G90
  G92 E0
  G1 Z{z} F{tfeed}
  G1 X{px} Y{py} F{tfeed}
  M83
  G1 E{pmm} F{pfeed}
  G92 E0
  M82
  G1 X{wx0} Y{wy0} F{tfeed}
  {% for i in range(wpass) %}
    G1 X{wx1} Y{wy0} F{wfeed}
    G1 X{wx1} Y{wy1} F{wfeed}
    G1 X{wx0} Y{wy1} F{wfeed}
    G1 X{wx0} Y{wy0} F{wfeed}
  {% endfor %}